.git/
.gitignore


.idea/
.vscode/
.cursor/


.DS_Store
Thumbs.db


.env




vendor/


java-app/
docker/
mobile-app/ 
desktop-app/ 


build/


README.md
documentation/
phpdoc.xml
phpDocumentor.phar


database/


assets/


cloud-services/ 
infrastructure/ 


tests/ 


tmp/
cache/
*.log