
# repertoire des dependances
/vendor/
/node_modules/

# fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# fichiers de journaux
/logs/
*.log
npm-debug.log*

# repertoire de build
/dist/
/build/

# fichiers de cache et de fichiers temporaires
/cache/
/tmp/
*.tmp
*.bak
*.cache

# composer
composer.phar

# fichiers de configuration avec des informations sensibles
.cursor/
docs/

# fichiers de contenu utilisateur
/uploads/
/media/

# fichier de creation d'utilisateur admin
web-admin/install-admin.php